.htmlinner {
  box-shadow: inset 4px 4px 6px -1px #e56027, inset -4px -4px 6px -1px #e56027,
    -0.5px -0.5px 0px #e56027, 0.5px 0.5px 0px #e56027,
    0px 12px 10px -10px #e56027;
}
.htmlouter {
  box-shadow: 6px 6px 10px -1px #e56027, 6px 6px 16px -1px #e56027;
}

.cssinner {
  box-shadow: inset 4px 4px 6px -1px #2760e5, inset -4px -4px 6px -1px #2760e5,
    -0.5px -0.5px 0px #2760e5, 0.5px 0.5px 0px #2760e5,
    0px 12px 10px -10px #2760e5;
}
.cssouter {
  box-shadow: 6px 6px 10px -1px #2760e5, 6px 6px 16px -1px #2760e5;
}

.jsinner {
  box-shadow: inset 4px 4px 6px -1px #ead41c, inset -4px -4px 6px -1px #ead41c,
    -0.5px -0.5px 0px #ead41c, 0.5px 0.5px 0px #ead41c,
    0px 12px 10px -10px #ead41c;
}
.jsouter {
  box-shadow: 6px 6px 10px -1px #ead41c, 6px 6px 16px -1px #ead41c;
}

.wordinner {
  box-shadow: inset 4px 4px 6px -1px #1f6f93, inset -4px -4px 6px -1px #1f6f93,
    -0.5px -0.5px 0px #1f6f93, 0.5px 0.5px 0px #1f6f93,
    0px 12px 10px -10px #1f6f93;
}
.wordouter {
  box-shadow: 6px 6px 10px -1px #1f6f93, 6px 6px 16px -1px #1f6f93;
}

.sqlinner {
  box-shadow: inset 4px 4px 6px -1px #245176, inset -4px -4px 6px -1px #245176,
    -0.5px -0.5px 0px #245176, 0.5px 0.5px 0px #245176,
    0px 12px 10px -10px #245176;
}
.sqlouter {
  box-shadow: 6px 6px 10px -1px #245176, 6px 6px 16px -1px #245176;
}

.gitinner {
  box-shadow: inset 4px 4px 6px -1px #e44d30, inset -4px -4px 6px -1px #e44d30,
    -0.5px -0.5px 0px #e44d30, 0.5px 0.5px 0px #e44d30,
    0px 12px 10px -10px #e44d30;
}
.gitouter {
  box-shadow: 6px 6px 10px -1px #e44d30, 6px 6px 16px -1px #e44d30;
}
