.listaTrabajos {
  display: flex;
  justify-content: center;
}
.contenidoTrabajos {
  padding-bottom: 30px;
  text-align: center;
  margin: 3%;
}

.imagenMiniatura {
  width: 300px;
  height: 400px;
  cursor: pointer;
}
.tituloTrabajos {
  color: #ff5964;
}

/*DISEÑO RESPONSIVO*/
@media (max-width: 800px) {
  /**menu*/
  body {
    margin: 0;
    padding: 0;
  }
  .informacion .pc {
    width: 300px;
    height: 300px;
  }
  .contenedorMenu {
    justify-content: right;
  }
  .contenedorMenu #hamburguesa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
  }
  .contenedorMenu #hamburguesa:hover {
    background-color: #ff5964;
    transition: 1s;
  }
  #back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .contenedorMenu nav {
    position: fixed;
    top: 0;
    right: -250px;
    background: #1b1d2a;
    width: 250px;
    height: 100vh;
    padding: 40px;
    z-index: 1;
    transition: all 300ms;
  }
  .menu {
    flex-direction: column;
  }
  .menu .lista {
    margin-top: 20px;
  }
  .item {
    color: #ff5964;
    text-decoration: underline 3px;
    font-weight: 900;
  }
}
.pieDePagina {
  background-color: #1b1d2a;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoContacto {
  width: 50px;
  margin: 20px;
}
@media (max-width: 719px) {
  .listaTrabajos {
    display: block;
    text-align: center;
  }
  .contenidoTrabajos {
    padding-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .listaTrabajos {
    display: block;
    text-align: center;
  }
  .contenidoTrabajos {
    padding-bottom: 20px;
  }
}
